<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Form Maker</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Form Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../users/profile.view.html">Username</a></li>
                <li><a href="../home/home.view.html">Logout</a></li>
            </ul>


        </div>
    </div>
</nav>
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar"">
                <li><a href="../home/home.view.html">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="../users/profile.view.html">Profile</a></li>
                <li><a href="../admin/admin.view.html">Admin</a></li>
                <li class="active"><a href="forms.view.html">Forms</a></li>
            </ul>

        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms : Registration Form</h1>



            <ul class="nav nav-tabs">

                <li class="active"><a href="#tab1" data-toggle="tab">Forms</a></li>
                <li><a href="#myModal" data-toggle="tab">Fields</a></li>

            </ul>

            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
            <form class="form-horizontal" action="../users/profile.view.html">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputFirstName" class="control-label">First Name:</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputLastName" class="control-label">Last Name:</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputDob" class="control-label">Date of Birth:</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="inputDob">
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputGender" class="control-label">Gender</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <select>
                            <option id="gender" value="female">Female</option>
                            <option id="gender" value="male">Male</option>
                        </select>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputRoles" class="control-label">Roles</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <input type="checkbox" id="inputAdmin" value="admin">Admin<br>
                        <input type="checkbox" id="inputStudent" value="student">Student<br>
                        <input type="checkbox" id="inputUser" value="user">User<br>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputLicense" class="control-label">License Agreement:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <input type="radio" id="la" value="yes" checked>Yes<br>
                        <input type="radio" id="la" value="no">No<br>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <hr>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputNewField class="control-label">Add New Field:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <select>
                            <option id="field" value="singleLineText">Single Line Text</option>
                            <option id="field" value="dropDown">Drop Down</option>
                            <option id="field" value="radio">Radio Button</option>
                            <option id="field" value="paragraph">Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                    </div>
                </div>


            </form>
            </div>
                </div>
                    <div class="tab-pane" id="tab2">
                        <div class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>One fine body&hellip;</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        </div>
                    </div>

            </div>


        </div>

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>
