
<h1 class="page-header">Forms</h1>

<ul class="nav nav-tabs">

    <li ><a href="#/restaurants">Restaurants</a></li>
    <li><a href="#/comment">Comment</a></li>
    <li class="active"><a href="#/comment">Comment</a></li>
    <li><a href="#/recipe">Recipe</a></li>

</ul>
<div class="table-responsive">
    <table class="table table-bordered table-striped" ng-controller="CommentController">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Comment id</th>
            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Comment Name</th>
            <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input ng-model="comment._id" type="text" class="form-control" id="inputRecipeId" placeholder="name">
            </td>
            <td>
                <input ng-model="comment.name" type="text" class="form-control" id="inputRecipeName" placeholder="name">
            </td>

            <td>
                <a ng-click="addComment(comment)" class="glyphicon glyphicon-plus"></a>
                <a ng-click="updateComment(comment)" class="glyphicon glyphicon-ok"></a>
            </td>
        </tr>

        <tr ng-repeat="comment in scopeCommentList"
            ng-class="{'success' : $index == selectedFormIndex}">
            <td>
                {{comment._id}}
            </td>
            <td>
                {{comment.name}}
            </td>
            <td>
                <a ng-click="deleteComment($index)" class="glyphicon glyphicon-remove"></a>
                <a  ng-click="selectComment($index)" class="glyphicon glyphicon-pencil"></a>
            </td>

        </tr>


        </tbody>
    </table>
</div>

