<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Explore With Me!!!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active' : $location.url().indexOf('register') > 0}">
                    <a  href="#/search">Place Search</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('register') > 0}">
                    <a ng-show="!user" href="#/register">Register</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('food') > 0}">
                    <a href="#/food">Food Search</a>
                </li>


                <li ng-class="{'active' : $location.url().indexOf('login') > 0}">
                    <a ng-show="!user" href="#/login">Login</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('profile') > 0}">
                    <a ng-show="user" href="#/profile">{{user.username}}</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('admin') > 0}">
                    <a ng-show="user && user.roles.indexOf('admin')>=0" href="#/admin">Admin</a>
                </li>
                <li ng-class="{'active' : $location.url().indexOf('home') > 0}">
                    <a ng-click="logout(user)" ng-show="user" href="#/home.">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>