<h2>Search</h2>


<form class="form-horizontal">
    <div class="form-group">
        <label for="inputQuery" class="col-sm-2 control-label">What to eat</label>

        <div class="col-sm-8">
            <input ng-model="query" type="text" class="form-control" id="inputQuery" placeholder="Pizza..Chaat..Naan">
        </div>
    </div>
    <div class="form-group">
        <label for="inputLocation" class="col-sm-2 control-label">Near</label>
        <div class="col-sm-8">
            <input ng-model="location" type="text" class="form-control" id="inputLocation" placeholder="Location">
        </div>
    </div>


    <div class="form-group ">
        <div class="col-sm-offset-2 col-sm-8">
        <button ng-click="search(query,location)"
                class="btn btn-primary btn-block">
            Search
        </button>
            </div>
    </div>
</form>


<h3>Search Results</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Rating</th>

        </tr>
        </thead>
        <tbody>


        <tr ng-repeat="place in scopeFoodSearchList.businesses  ">
            <td>
                <img ng-src="{{place.image_url}}" height="150px" class="pull-left"/>
            </td>
            <td>
                <a href="#/detail/{{place.id}}">
                    {{place.name}}
                </a>

            </td>
            <td>
                {{place.phone}}
            </td>
            <td>
                {{place.rating}}
            </td>

        </tr>
        </tbody>
    </table>
</div>