<!--<form class="form-horizontal">
    <div class="form-group">

        <div class="col-sm-10">
            <input ng-model="query" type="text" class="form-control" id="inputSearch" placeholder="Search">
        </div>
    </div>
   <div class="form-group">
        <div class="col-sm-10">
            <button ng-click="search(query)" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</form>
-->
<form class="form-horizonatal">
    <div class="col-sm-10">
        <div class="form-group">
            <button ng-click="search(query)" class="btn btn-primary btn-block">View Details</button>
        </div>
    </div>

</form>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<div class="col-md-4" id="map"></div>

<div class="col-md-8">
        <h3>Search Results</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price Level</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="place in scopePlaceList">
                    <td>
                        <a href="#/placedetail/{{place.id}}">
                            {{place.name}}
                        </a>
                    </td>
                    <td>
                        {{place.price_level}}
                    </td>
                    <td>
                        {{place.rating}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

