<h1 class="page-header">Forms : Registration Form</h1>

<ul class="nav nav-tabs">

    <li><a href="#/forms">Forms</a></li>
    <li class="active"><a href="#/fields">Fields</a></li>

</ul>

<div class="panel-body" ng-controller="FieldController">

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">


            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Fields Window:</h4>
                        </div>
                        <div class="modal-body modal-lg">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputLabel" class="col-sm-2 control-label">Label</label>
                                    <div class="col-sm-6">
                                        <input ng-model="modal.label" type="text" class="form-control" id="inputLabel" placeholder="Label">
                                    </div>
                                </div>
                                <div class="form-group" ng-switch="modal.type">
                                    <div ng-switch-when="TEXT" >
                                        <label for="inputPlaceHolder" class="col-sm-2 control-label">PlaceHolder</label>
                                        <div class="col-sm-6">
                                            <input ng-model="modal.placeholder" type="text" class="form-control" id="inputPlaceHolder" placeholder="Placeholder">
                                        </div>
                                    </div>
                                    <div ng-switch-when="EMAIL" >
                                        <label for="inputPlaceHolder" class="col-sm-2 control-label">PlaceHolder</label>
                                        <div class="col-sm-6">
                                            <input ng-model="modal.placeholder" type="text" class="form-control" id="inputPlaceHolder" placeholder="Placeholder">
                                        </div>
                                    </div>
                                    <div ng-switch-when="TEXTAREA" >
                                        <label for="inputPlaceHolder" class="col-sm-2 control-label">PlaceHolder</label>
                                        <div class="col-sm-6">
                                            <input ng-model="modal.placeholder" type="text" class="form-control" id="inputPlaceHolder" placeholder="Placeholder">
                                        </div>
                                    </div>
                                    <div ng-switch-when="DATE" >

                                    </div>
                                    <div ng-switch-when="RADIOS" >
                                        <label for="inputUsername" class="col-sm-2 control-label">Options</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" ng-model="modal.options" placeholder={{field.placeholder}} rows="5" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div ng-switch-when="OPTIONS" >
                                        <label for="inputUsername" class="col-sm-2 control-label">Options</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" ng-model="modal.options" placeholder={{field.placeholder}} rows="5" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div ng-switch-when="CHECKBOXES" >
                                        <label for="inputUsername" class="col-sm-2 control-label">Options</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" ng-model="modal.options" placeholder={{field.placeholder}} rows="5" id="comment"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </form>
                         </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row" ng-repeat="field in model.fields">
                <div ng-switch="field.type">

                    <label class="control-label">{{field.label}}</label>
                    <div class="row">
                        <div class="col-sm-4" ng-switch-when="TEXT">
                            <input type="text"  class="form-control" id="inputFirstName" placeholder="{{field.placeholder}}">
                        </div>
                        <div class="col-sm-4" ng-switch-when="EMAIL">
                            <input type="email" class="form-control" id="inputEmail" placeholder={{field.placeholder}}>
                        </div>
                        <div class="col-sm-4" ng-switch-when="DATE">
                            <input type="date" class="form-control" id="inputDob">
                        </div>
                        <div class="col-sm-4" ng-switch-when="TEXTAREA">
                            <textarea class="form-control" placeholder={{field.placeholder}} rows="5" id="comment"></textarea>

                        </div>
                        <div class="col-sm-4 checkbox" ng-switch-when="CHECKBOXES">

                            <div class="checkbox" ng-repeat="option in field.options" >

                                <label><input type="checkbox" value={{option.value}}>{{option.label}}</label>

                            </div>

                        </div>
                        <div class="col-sm-4" ng-switch-when="OPTIONS">
                            <select>
                                <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4 radio"  ng-switch-when="RADIOS" >

                            <div class="radio" ng-repeat="option in field.options" >

                                <label><input type="radio" value={{option.value}}>{{option.label}}</label>
                            </div>
                        </div>

                        <div class="col-sm-4">

                        </div>

                        <div class="col-sm-4">

                            <button class="glyphicon glyphicon-pencil" ng-click="modifyField(field)" data-toggle="modal" data-target="#myModal"></button>
                            <a href="#" class="glyphicon glyphicon-plus"></a>
                            <button class="glyphicon glyphicon-remove" ng-click="removeField(field)"></button>
                            <a href="#" class="glyphicon glyphicon-align-justify"></a>
                        </div>


                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <select ng-model="model.fieldType">
                        <option id="field" value="singleLineText">Single Line Text</option>
                        <option id="field" value="multiLineText">Multi Line Text</option>
                        <option id="field" value="date">Date Field</option>
                        <option id="field" value="dropDown">Drop Down</option>
                        <option id="field" value="radio">Radio Button</option>
                        <option id="field" value="checkBox">Check Box</option>

                    </select>
                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                    <button class="glyphicon glyphicon-plus btn-primary" ng-click="addField(model.fieldType)"></button>
                </div>
            </div>



        </div>
    </div>
</div>



</div>

