
<h1 class="page-header">Forms : Registration Form</h1>



<ul class="nav nav-tabs">

    <li><a href="#/forms">Forms</a></li>
    <li class="active"><a href="#/fields">Fields</a></li>

</ul>

<div class="panel-body">
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <form class="form-horizontal" action="../users/profile.view.html">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputFirstName" class="control-label">First Name:</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputLastName" class="control-label">Last Name:</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputDob" class="control-label">Date of Birth:</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="inputDob">
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputGender" class="control-label">Gender</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <select>
                            <option id="gender" value="female">Female</option>
                            <option id="gender" value="male">Male</option>
                        </select>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputRoles" class="control-label">Roles</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <input type="checkbox" id="inputAdmin" value="admin">Admin<br>
                        <input type="checkbox" id="inputStudent" value="student">Student<br>
                        <input type="checkbox" id="inputUser" value="user">User<br>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputLicense" class="control-label">License Agreement:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <input type="radio" id="la" value="yes" checked>Yes<br>
                        <input type="radio" id="la" value="no">No<br>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-pencil"></a>
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                        <a href="#" class="glyphicon glyphicon-remove"></a>
                        <a href="#" class="glyphicon glyphicon-align-justify"></a>
                    </div>
                </div>

                <div class="row">
                    <hr>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <label for="inputNewField class="control-label">Add New Field:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <select>
                            <option id="field" value="singleLineText">Single Line Text</option>
                            <option id="field" value="dropDown">Drop Down</option>
                            <option id="field" value="radio">Radio Button</option>
                            <option id="field" value="paragraph">Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="glyphicon glyphicon-plus"></a>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <div class="tab-pane" id="tab2">
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</div>

