
<h1 class="page-header">Admin</h1>


<h2>Users</h2>
<div class="table-responsive">
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Username </th>
        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Password</th>
        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Role</th>
        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input type="text" class="form-control" id="inputUsername" placeholder="Username">
        </td>

        <td>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

        </td>

        <td>
            <input type="text" class="form-control" id="inputRole" placeholder="Role">
        </td>

        <td>
            <a href="#" class="glyphicon glyphicon-plus"></a>
            <a href="#" class="glyphicon glyphicon-ok"></a>
        </td>
    </tr>
    <tr>
        <td>
            Alice
        </td>

        <td>

        </td>

        <td>
            Student
        </td>
        <td>
            <a href="#" class="glyphicon glyphicon-remove"></a>
            <a href="#" class="glyphicon glyphicon-pencil"></a>

        </td>
    </tr>
    <tr>
        <td>
            Bob
        </td>

        <td>

        </td>
        <td>
            faculty|admin
        </td>
        <td>
            <a href="#" class="glyphicon glyphicon-remove"></a>
            <a href="#" class="glyphicon glyphicon-pencil"></a>
        </td>
    </tr>
    <tr>
        <td>
            Charlie
        </td>
        <td></td>
        <td></td>
        <td>
            <a href="#" class="glyphicon glyphicon-remove"></a>
            <a href="#" class="glyphicon glyphicon-pencil"></a>
        </td>
    </tr>

    </tbody>
</table>
    </div>

