
<h1 class="page-header">Admin</h1>


<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                <a ng-click="sortType = 'username'; sortReverse = !sortReverse">
                    <label>Username</label>
                            <span ng-show="sortType == 'username' && !sortReverse"
                                  class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortType == 'username' && sortReverse"
                                  class="glyphicon glyphicon-triangle-top"></span>
                </a>
            <th>

                    <label>Password</label>

            <th>
                <a ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
                    <label>FirstName</label>
                            <span ng-show="sortType == 'firstName' && !sortReverse"
                                  class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortType == 'firstName' && sortReverse"
                                  class="glyphicon glyphicon-triangle-top"></span>
                </a>
            <th>
                <a ng-click="sortType = 'lastName'; sortReverse = !sortReverse">
                    <label>LastName</label>
                            <span ng-show="sortType == 'lastName' && !sortReverse"
                                  class="glyphicon glyphicon-triangle-bottom"></span>
                            <span ng-show="sortType == 'lastName' && sortReverse"
                                  class="glyphicon glyphicon-triangle-top"></span>
                </a>
            <th>

                    <label>Roles</label>

            <th>
                <label>Action</label>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" ng-model="newUser.username" class="form-control" id="inputUsername" placeholder="Username">
            </td>

            <td>
                <input type="password" ng-model="newUser.password" class="form-control" id="inputPassword" placeholder="Password">

            </td>

            <td>
                <input type="text" ng-model="newUser.firstName" class="form-control" id="inputFN" placeholder="First Name">
            </td>

            <td>
                <input type="text" ng-model="newUser.lastName" class="form-control" id="inputLN" placeholder="Last Name">
            </td>

            <td>
                <input type="text" ng-model="newUser.roles" class="form-control" id="inputRole" placeholder="Role">
            </td>

            <td>
                <a ng-click="addUser(newUser)" class="glyphicon glyphicon-plus"></a>
                <a ng-click="updateUser(newUser)" class="glyphicon glyphicon-ok"></a>
            </td>
        </tr>

        <tr ng-repeat="tempUser in allUsers| orderBy:sortType:sortReverse"
            ng-class="{'success' : $index == selectedFormIndex}">
            <td>
                {{tempUser.username}}
            </td>

            <td>
                {{tempUser.password}}
            </td>

            <td>
                {{tempUser.firstName}}
            </td>

            <td>
                {{tempUser.lastName}}
            </td>

            <td>
                {{tempUser.roles}}
            </td>

            <td> <a ng-click="deleteUser(tempUser)" class="glyphicon glyphicon-remove" aria-hidden="true" color="black"></a>
                <a ng-click="selectUser(tempUser)" class="glyphicon glyphicon-pencil" aria-hidden="true"></a></td>
        </tr>


        </tbody>
    </table>
</div>

