<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('home') > 0}">
            <a href="#/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('profile') > 0}">
            <a ng-show="user" href="#/profile">Profile</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('admin') > 0}">
            <a ng-show="user && user.roles.indexOf('admin')>=0" href="#/admin">Admin</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('forms') > 0}">
            <a ng-show="user" href="#/forms">Forms</a>
        </li>
    </ul>

</div>